@{
    ViewData["Title"] = "Index";
}

<div class="list-group ">
    <a href="#" class="list-group-item list-group-item-action">
        <h1> <i>Kategori</i></h1>
    </a>

    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">@ViewBag.YurtDısı </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">@ViewBag.Yurtici</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">@ViewBag.UzaySeyahetim</a>
   
</div>